@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body,html {
    font-family: 'Roboto', sans-serif;
    background: #EAEAEA;
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100%;

}
a {
    text-decoration: none;
    outline: none !important;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #1f425d;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/********** Header **********/
.loginbox{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex-column-fluid {
    flex: 1 0 auto;
}
.flex-lg-row-fluid {
    flex: 1 auto;
    min-width: 0;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.loginbox .card{
    width: 100%;
    max-width: 550px;
    padding: 30px;
    border: 0;
    box-shadow: 0 0 7px 4px #00000026;
}
.bg-dark {
    background-color: #002e53!important;
}
.sidebarlogo{
    background: #fff;
    text-align: center;
    display: block;
    padding: 16px;
    border-radius: 10px;
}